<div data-controller="form">
  <%= form_with(model: @result, url: results_path, method: :post, html: { id: 'question-form' }, data: { target: 'form.form' }) do |form| %>
    <div class="container-form-result" data-form-target="step">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="12.5" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question1"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title"><%= @questions[0][:question] %></h1>
            <div class="answers">
              <% @questions[0][:answers].each do |answer| %>
                <div class="answer" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>

    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question2"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title"><%= @questions[1][:question] %></h1>
            <div class="answers">
              <% @questions[1][:answers].each do |answer| %>
                <div class="answer" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>

    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="37.5" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question3"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title"><%= @questions[2][:question] %></h1>
            <div class="answers">
              <% @questions[2][:answers].each do |answer| %>
                <div class="answer-larger" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>

    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question4"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title"><%= @questions[3][:question] %></h1>
            <div class="answers">
              <% @questions[3][:answers].each do |answer| %>
                <div class="answer" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>

    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="67.5" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question5"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title"><%= @questions[4][:question] %></h1>
            <div class="answers">
              <% @questions[4][:answers].each do |answer| %>
                <div class="answer" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>

    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question6"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title"><%= @questions[5][:question] %></h1>
            <div class="answers">
              <div class="slidecontainer">
                <input type="range" min="0" max="350" value="50" class="slider" id="myRange">
                <div class="range-labels">
                  <span>0€</span> <!-- Valeur minimum -->
                  <span>350€</span> <!-- Valeur maximum -->
                </div>
              </div>
            </div>
            <%= form.submit 'Valider', class:"submit-button", data: { action: "form#selectAnswer" } %>
      </div>
    </div>

    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="87.5" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question7"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title-margin"><%= @questions[6][:question] %></h1>
            <div class="answers">
              <% @questions[6][:answers].each do |answer| %>
                <div class="answer-larger" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>


    <div class="container-form-result" data-form-target="step" class="hidden">
      <div class="arrow-back">
        <%= link_to :back do %>
          <i class="fa-solid fa-caret-left"> PRECEDENT</i>
        <% end %>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar-question8"></div>
      </div>
      <div class="form-content">
          <h1 class="form-title-margin2"><%= @questions[7][:question] %></h1>
            <div class="answers">
              <% @questions[7][:answers].each do |answer| %>
                <div class="answer-larger2" data-action="click->form#selectAnswer" data-answer="<%= answer %>"><%= answer %></div>
              <% end %>
            </div>
      </div>
    </div>
  <% end %>
</div>
