<div class="orders-container">
  <div class="back-orga">
    <div class="back-icon">
      <%= link_to dashboard_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <h2 class="title-order">MES ACHATS</h2>
  </div>
  <p class="description-order">Retrouvez toutes vos commandes ainsi que vos demandes de retour.</p>

  <div class="orders-tab">
    <p class="btn btn-active">EN LIGNE</p>
    <p class="btn btn-inactive">EN MAGASIN</p>
  </div>

  <div class="orders-section">
    <% if @orders.any? %>
      <% @orders.each do |order| %>
        <div class="order-item">
          <button class="btn-order" data-bs-toggle="collapse" data-bs-target="#order-<%= order.id %>" aria-expanded="false" aria-controls="order-<%= order.id %>">
            COMMANDE DU <%= formatted_date(order.created_at).upcase %><i class="fa-solid fa-chevron-down"></i>
          </button>
          <div class="collapse" id="order-<%= order.id %>">
            <div class="order-details">
              <% order.order_items.each do |item| %>
              <div class="order-details2">
                <h5><%= item.perfume.name.upcase %></h5>
                <p><%= item.quantity %> </p>
                <p><%= number_to_currency(item.price, unit: "€", format: "%n %u") %></p>
              </div>
              <% end %>
              <hr class="hr-order">
              <div class="order-details2">
                <p>Livraison</p>
                <p>0 €</p>
              </div>
              <div class="order-details2">
                <p>Total</p>
                <%= number_to_currency(order.total, unit: "€", format: "%n %u") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Aucune commande disponible pour le moment.</p>
    <% end %>
  </div>
</div>
