<div class="order-details-container">
  <div class="back-orga">
    <div class="back-icon">
      <%= link_to orders_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <h2 class="title-order">RÉCAPITULATIF DE COMMANDE</h2>
  </div>
  <p>Merci pour votre commande !</p>
  <p>Retrouvez les détails de votre commande passée le <%= formatted_date(@order.created_at).upcase %></p>

  <div class="card order-card">
    <div class="order-items">
      <div class="order-item-header">
        <div class="order-item-details-header">
          <strong>Produit</strong>
        </div>
        <div class="order-item-quantity-price-header">
          <strong>Quantité</strong>
        </div>
        <div class="order-item-quantity-price-header">
          <strong>Prix</strong>
        </div>
      </div>
      <hr class="item-separator">
      <% @order.order_items.each do |item| %>
        <div class="order-item d-flex justify-content-between align-items-center">
          <div class="order-item-details d-flex align-items-center">
            <%# <div class="order-item-image"> %>
              <%# <%= image_tag item.perfume.photo, class: 'img-thumbnail' %>
            <%# </div> %>
            <div class="order-item-info ml-2">
              <h5><strong><%= item.perfume.name.upcase %></strong></h5>
              <p><strong><%= item.perfume.brand %></strong></p>
            </div>
          </div>
          <div class="order-item-quantity">
            <span><%= item.quantity %></span>
          </div>
          <div class="order-item-price">
            <span><%= number_to_currency(item.price, unit: "€", format: "%n %u") %></span>
          </div>
        </div>
        <hr class="item-separator">
      <% end %>
    </div>
    <div class="order-summary d-flex justify-content-between align-items-center">
      <div>
        <p>Livraison</p>
        <p>Total</p>
      </div>
      <div>
        <p>0 €</p>
        <p><%= number_to_currency(@order.total, unit: "€", format: "%n %u") %></p>
      </div>
    </div>
  </div>
</div>
